build/
.claude/
.cache/
bin/
cmake-build-debug-mingw/
Experimental/
logs/
/DesignTarget.md
__pycache__/
docs/
shader_cache/
imgui.ini
.codex/
devdocs/
Plugins/**/Binaries/
Plugins/**/Intermediate/
