.env
.claude/
.cache/
.codex/
bin/
build/
cmake-build-debug-mingw/
Experimental/
logs/
/DesignTarget.md
__pycache__/
docs/
devdocs/
!Docs/
!Docs/**
shader_cache/
imgui.ini
devdocs/
Plugins/**/Binaries/
Plugins/**/Intermediate/
